/* Popup container */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the popup appears on top of other content */
}

.popup {
    background: #020617;
    background-image: radial-gradient(#0f172a 1px,transparent 0),radial-gradient(#0f172a 1px,transparent 0);
    background-position: 0 0,25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;
    padding: 0px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup-body {
    padding: 20px;
    padding-block-start: 0px;
}

.close-button {
    position: relative;
    padding: 0px;
    padding-inline-end: 10px;
    padding-block-start: 4px;
    text-align: end;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #FFFF;

    :focus {
        outline: none;
    }
}
